@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  color: #000;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  font-family: "Rubik", sans-serif;
}
ul {
  li {
    list-style: none;
  }
}
a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  &:hover {
    color: #000;
  }
}
.grid-2 {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.container {
  width: 97%;
  margin-inline: auto;
}

main {
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
}
aside header a.logo h1 {
  font-size: 25px;
  font-weight: 500;
  color: #ff5c5c;
}
header {
  padding: 12px 20px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
aside {
  min-height: 100vh;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

nav.nav-items ul li a {
  font-size: 18px;
  padding: 12px 20px;
  width: 100%;
  display: flex;
  font-weight: 400;
  align-items: center;
  gap: 20px;
  background-color: #ffe2e200;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #ffe2e2;
  }
}
nav.nav-items ul {
  padding-top: 8px;
}
nav.nav-items ul li a svg {
  font-size: 25px;
  color: #ff5c5c;
}
nav.nav-items ul li:not(:last-child) {
  margin-bottom: 12px;
}

.nav-title {
  font-size: 16px;
  font-weight: 400;
  color: #5b5b5b;
  padding: 6px 10px 12px;
  margin-top: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.colors {
  padding: 20px 0;
}
.colors h6 {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 10px;
}

.colors ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  padding-top: 15px;
}
.colors ul li {
  height: 26px;
  width: 26px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.colors ul li:first-child {
  background: rgb(255, 255, 255);
}
.colors ul li:last-child {
  background: rgb(36, 36, 36);
}
nav.main-navbar {
  display: flex;
  align-items: center;
  padding: 4px 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav.main-navbar .search-box {
  flex: 1 0 25%;
  position: relative;
}
nav.main-navbar .search-box button.search {
  position: absolute;
  right: 16px;
  color: #888;
  top: 54%;
  font-size: 18px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
}
nav.main-navbar ul.main-nav-items li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-inline: 10px;
  position: relative;
}
nav.main-navbar ul.main-nav-items li span.text {
  font-size: 18px;
  font-weight: 300;
}
nav.main-navbar ul.main-nav-items li span.notify {
  font-size: 10px;
  background-color: #ff5c5c;
  color: #fff;
  position: absolute;
  top: -8px;
  padding: 5px;
  font-weight: 600;
  right: 2px;
  border-radius: 50%;
}
nav.main-navbar .search-box input[type="text"] {
  height: 40px;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.2);
}
nav.main-navbar ul.main-nav-items {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
  flex: 1 0 75%;
  justify-content: end;
}
nav.main-navbar ul.main-nav-items li.profile img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
  object-position: 0px -4px;
}
nav.main-navbar ul.main-nav-items li svg {
  font-size: 24px;
}
.widget {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.widget-Card {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}
.widget-Card h3 {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  color: #888;
  align-items: center;
  justify-content: space-between;
}
.widget-Card h3 span {
  font-size: 18px;
  color: #222222;
  display: flex;
  gap: 8px;
}
.widget-Card h3 span.positive {
  color: #34c700;
}
.widget-Card h3 span.negetive {
  color: #ff5c5c;
}
.widget-Card h4 {
  font-size: 40px;
  font-weight: 100;
  padding-block: 20px;
  color: #666;
}
.widget-Card ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widget-Card ul li a {
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 300;
}
.widget-Card ul li:has(svg) {
  height: 38px;
  width: 38px;
  color: rgb(0, 0, 0);
  background: #fffffff7;
  padding: 8px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.widget-Card ul li:has(svg.user) {
  color: red;
  background: #ffd0d0f7;
}
.widget-Card ul li:has(svg.order) {
  color: #ffbb00;
  background: #fff1cb;
}
.widget-Card ul li:has(svg.earn) {
  color: #00aeff;
  background: #d0f0ff;
}
.widget-Card ul li:has(svg.bal) {
  color: #ff0095;
  background: #ffcfeb;
}
.chart-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 30px;
  gap: 30px;
}
.featured-box {
  padding: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
.featured-box h3 {
  font-size: 20px;
  font-weight: 100;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-box h3 span svg {
  cursor: pointer;
  color: #000;
}
.featured-box .progress > svg {
  width: 140px;
  margin-inline: auto;
  display: block;
  margin-bottom: 15px;
}
.featured-box .progress {
  margin-top: 20px;
}
.featured-box .progress h5 {
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  font-weight: 300;
  color: #777;
  margin-bottom: 15px;
}
.featured-box .progress h6 {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  color: #222;
  margin-bottom: 12px;
}
.featured-box .progress p {
  font-size: 15px;
  text-align: center;
  color: #999;
  font-weight: 300;
  padding-block: 10px;
}
.featured-box .progress ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.featured-box .progress ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 20%;
  font-size: 18px;
  color: #888;
}
.featured-box .progress ul li span svg {
  font-size: 16px;
}
.featured-box .progress ul li span {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 14px;
}
.featured-box .progress ul li span.positive {
  color: #34c700;
}
.featured-box .progress ul li span.negetive {
  color: #ff5c5c;
}
.chart {
  padding: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.chart h4 {
  font-size: 20px;
  font-weight: 100;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.user-List {
  padding: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 30px;
}
.user-List h3 {
  font-size: 26px;
  font-weight: 400;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tables-user .table img.image {
  width: 22px;
}
.tables-user .table .cellWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tables-user .table .status {
  padding: 8px;
  border-radius: 5px;
  width: max-content;
  display: inline-block;
  &.Approved {
    background-color: #e0ffd5;
    color: #34c700;
  }
  &.Pending {
    background-color: #ffe6ce;
    color: #ff7b00;
  }
}

.data-grid .cellWithImg img.cellImg {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
  object-fit: cover;
}
.data-grid .cellWithStatus {
  padding: 8px;
  border-radius: 5px;
  width: max-content;
  display: inline-block;
}
.data-grid .cellWithStatus.active {
  background-color: #e0ffd5;
  color: #34c700;
}
.data-grid .cellWithStatus.passive {
  background-color: #ffe6ce;
  color: #ff7b00;
}
.data-grid .cellWithStatus.pending {
  background-color: #ffd2ce;
  color: #ff0000;
}
.data-grid ul.cellAction {
  display: flex;
  align-items: center;
  gap: 20px;

  & li {
    button {
      font-size: 14px;
      padding: 8px 18px;
      border: none;
      background: aliceblue;
      color: #000;
      text-transform: capitalize;
      border: transparent;
      border-radius: 5px;
      cursor: pointer;
      &.viewButton {
        background: #ff3838;
        color: rgb(255, 255, 255);
        border: transparent;
      }
      &.deleteButton {
        background: #ff000000;
        color: #ff3838;
        border: 1px solid #ff3838;
      }
    }
  }
}

.profile-sec {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
  gap: 30px;
}
.profile-box .profile-content figure img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.profile-sec .profile-box h3 {
  font-size: 20px;
  font-weight: 100;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.profile-sec .profile-box h3 span.edit {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 14px;
  background: #ffcece;
  color: red;
  padding: 8px;
  border-radius: 0 0 0 10px;
}
.profile-sec .profile-box {
  padding: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
}
.profile-sec .profile-box .profile-content {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.profile-text {
  margin-top: 4px;
}
.profile-text h4 {
  font-size: 22px;
  font-weight: 400;
}
.profile-text > *:not(:last-child) {
  margin-bottom: 10px;
}
.profile-text h5 {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-text h5 span {
  font-weight: 100;
  color: #666;
}
.newuser-sec {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
}
.newuser-sec h3 {
  grid-column: 1/-1;
}
.newuser-sec h3 {
  grid-column: 1/-1;
  font-size: 22px;
  font-weight: 300;
  color: #888;
  margin-bottom: 30px;
}
.newuser-img figure img {
    border-radius: 50%;
    width: 190px;
    border: 6px solid #aaa;
    height: 190px;
    object-fit: cover;
    object-position: top;
}
.newuser-img {
  text-align: center;
}
.newuser-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}
.newuser-form form label {
  font-size: 15px;
  width: 100%;
  display: block;
  font-weight: 300;
  color: #666;
}
.newuser-form form input:not([type="submit"]) {
  height: 40px;
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.newuser-form form .formInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.newuser-form form button {
    justify-self: start;
    padding: 10px 40px;
    border-radius: 4px;
    border: none;
    background: #ff4848;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 12px;
    grid-column: 1 /-1;
}
.newuser-form form label[for="file"] svg {
    font-size: 32px;
}
.newuser-form form label[for=file] {
    font-size: 16px;
    display: flex;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    min-height: 65px;
    align-items: center;
    justify-content: center;
}